* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.left-side, .right-side {
    padding: 40px;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.left-side {
    background-color: #fecc16;
    color: white;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.right-side{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

input[type="text"], input[type="email"], input[type="password"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.btn {
    background-color: #d10910;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background-color: #fecc16;
    color: #d10910;
}

.small-text {
    font-size: 0.8em;
    color: #666;
    margin-top: 10px;
    text-align: center;
}

a {
    color: #d10910;
    text-decoration: none;
}

a:hover {
    color: #d10910;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .left-side, .right-side {
        width: 100%;
        padding: 20px;
    }
}
